.single-col {
  flex: 0 0 auto;
}

.single-col .single-box {
  position: relative;
  display: block;
  overflow: hidden;
}
.single-col .single-box img {
  transition: all 0.3s ease 0s;
}
.single-col .single-box:hover img {
  transform: scale(1.1) rotate(3deg);
}

